/*
CSS-Sytles for FrontPage
*/

.top-section {
    margin-top: 20px;
}



.news-container {
    background: #730117; 
    /*height: 360px;*/
    padding: 5px;
    margin-top: 15px;
}

@media (min-width: 922px) {
    .news-container {
        height: 360px;
        margin-top: 0;
    }
}

.news-container h2 {
    color: #fff;
    /*padding: 5px;*/
    margin-top: 0;
}

.newsRow {
    background: rgb(38,38,38);
    /*padding-top: 5px; 
    padding-bottom: 5px;*/
    margin: 10px 0 10px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.newsImage {
    /*display: table-cell; */
    background-size: cover;
    flex: 0 0 140px;
    height: 93px;
}

.newsImage img {
    max-height: 93px;
}

.newsTitle {
    vertical-align: middle; 
    padding: 5px 15px 5px 10px;
    flex: 2;
    font-size: 13pt;
}

.newsTitle a {
    color: #fff;
}

.newsRow:hover {
    background: rgba(80,80,80);
}



/* Action Panels below the slider */
.action-panel {
    background-color: #fff;
    min-height: 150px;
    background-size: cover;
    position: relative;
}

.action-panel>img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}

.col-action-panel {
    padding: 5px;
}

@media (min-width: 771px) {
    .action-panel>img {
        height: 208px;
    }
}

.action-panel-content {
    background: rgba(38, 38, 38, 0.7);
    padding: 5px;
    color: #fff;
    width: 100%;
    position: absolute;
    bottom: 0;
    font-size: 14pt;
    text-align: center;
}

@media(max-width: 768px) {
    .start-page-content {
        padding-right: 15px;
        padding-left: 15px;
    }
}

/* Content elements on StartPage */
.sp-container-row {
    margin-bottom: 25px;
}
.sp-container-default {
    /*min-height: 450px;*/
    margin-top: 20px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 100%;
    /*background-size: cover;*/
}

.sp-container-default:hover > .sp-container-heading  {
    background-color: rgba(255, 255, 255, 0.3);
}

.sp-container-default:hover >  .sp-container-heading h2 {
    color: #003399;
}

.sp-container-default>img {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
}

.sp-container-heading {
    background: rgba(38, 38, 38, 0.7);
    text-align: center;
    padding: 20px;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.sp-container-heading h2 {
    padding-top: 0;
    margin-top: 0;
    color: #fff;
    font-weight: normal;
}

.allgemein-excerpt {
    display: none;
    font-size: large;
    color: #000;
}